{%extends 'default.html'%}
{%block script%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
       {% autoescape off %}
       {{scrolltrigger}}
       {% endautoescape %}
       
<script>
              function hideall_except(exc) {

                     if(exc!='aboutus'){document.getElementById('aboutus').className='main_hidetxt'};
                     if(exc!='aboutyou'){document.getElementById('aboutyou').className='main_hidetxt'};
                     if(exc!='contact'){document.getElementById('contact').className='main_hidetxt'};
                     if(exc!='login'){document.getElementById('login').className='dropbtn2'};
                     if(exc!='register'){document.getElementById('register').className='dropbtn2'};
                     if(exc!='seating'){if (document.getElementById('seating').className=='dropbtn2_show'){document.getElementById('seating').className='dropbtn2'};if (document.getElementById('seating').className=='dropbtn2_alt_show'){document.getElementById('seating').className='dropbtn2_alt'}};
              }


</script>



{%endblock%}



{%block div1%}
       <button  class="icon-about1" type="button" onclick="hideall_except('aboutus');if (document.getElementById('aboutus').className=='main_hidetxt'){document.getElementById('aboutus').className='main_showtxt'}";></button>
       <button  class="icon-education1" type="button" onclick="hideall_except('aboutyou');if (document.getElementById('aboutyou').className=='main_hidetxt'){document.getElementById('aboutyou').className='main_showtxt'}";></button>
       <button  class="icon-contact1nl" type="button" onclick="hideall_except('contact');if (document.getElementById('contact').className=='main_hidetxt'){document.getElementById('contact').className='main_showtxt'}";></button>
       <button  class="icon-xp2" type="button" onclick="hideall_except('seating');if (document.getElementById('seating').className=='dropbtn2'){document.getElementById('seating').className='dropbtn2_show'};if (document.getElementById('seating').className=='dropbtn2_alt'){document.getElementById('seating').className='dropbtn2_alt_show'}";></button>
       <form method="post"  name="logout_request"><button  class="icon-nu1" type="submit" name="logout_request" value="1" ></button></form>
       <button  class="icon-nu3" type="button" onclick="hideall_except('register');if (document.getElementById('register').className=='dropbtn2'){document.getElementById('register').className='dropbtn2_show'}";></button>



{%endblock%}






{%block div2%}

       {% autoescape off %}

       {{form_wrapper_start}}
       {% csrf_token %}
       {{click_form_login}}
       {{click_check_div2}}
       {{click_form.UN}}
       {{click_form.HAP}}
       {{form_wrapper_end}}

       {{registerform_wrapper_start}}
       {% csrf_token %}
       {{click_form_register}}
       {{registerform_wrapper_end}}


       {% endautoescape %}
{%endblock%}

{%block div3%}

       {% autoescape off %}
       {% csrf_token %}
       {{click_check_div3}}
       {% endautoescape %}

{%endblock%}


{%block div4%}

       {% autoescape off %}

       {{form_wrapper_start}}
       {% csrf_token %}
       {{click_form_login}}
       {{click_check_div2}}
       {{click_form.UN}}
       {{click_form.HAP}}
       {{form_wrapper_end}}

       {{seatingform_wrapper_start}}
       {% csrf_token %}
       {{click_form_seating}}
       {{seatingform_wrapper_end}}


       {% endautoescape %}
{%endblock%}



