{%extends 'default.html'%}

{%block script%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
       {% autoescape off %}
       {{scrolltrigger}}
       {% endautoescape %}
       
<script>
              function hideall_except(exc) {
                     if(exc!='aboutus'){document.getElementById('aboutus').className='main_hidetxt'};
                     if(exc!='aboutyou'){document.getElementById('aboutyou').className='main_hidetxt'};
                     if(exc!='contact'){document.getElementById('contact').className='main_hidetxt'};
                     if(exc!='login'){document.getElementById('login').className='dropbtn2'};
                     if(exc!='pos1'){document.getElementById('pos1').className='pos1'};
              }
              

</script>



{%endblock%}


{%block div1%}
       {% if language == "EN" %}
       <button  class="icon-about1EN" type="button" onclick="hideall_except('aboutus');if (document.getElementById('aboutus').className=='main_hidetxt'){document.getElementById('aboutus').className='main_showtxt'}";></button>
       <button  class="icon-education1EN" type="button" onclick="hideall_except('aboutyou');if (document.getElementById('aboutyou').className=='main_hidetxt'){document.getElementById('aboutyou').className='main_showtxt'}";></button>
       <button  class="icon-contact1nlEN" type="button" onclick="hideall_except('contact');if (document.getElementById('contact').className=='main_hidetxt'){document.getElementById('contact').className='main_showtxt'}";></button>
       <button  class="icon-nu1nlEN" type="button" onclick="hideall_except('login');if (document.getElementById('login').className=='dropbtn2'){document.getElementById('login').className='dropbtn2_show'}";></button>
       <button  class="icon-show_mob" type="button" onclick="if (document.getElementById('pos1').className=='pos1'){document.getElementById('pos1').className='pos1_show'}else{document.getElementById('pos1').className='pos1'}";></button>
       {% else %}
       <button  class="icon-about1" type="button" onclick="hideall_except('aboutus');if (document.getElementById('aboutus').className=='main_hidetxt'){document.getElementById('aboutus').className='main_showtxt'}";></button>
       <button  class="icon-education1" type="button" onclick="hideall_except('aboutyou');if (document.getElementById('aboutyou').className=='main_hidetxt'){document.getElementById('aboutyou').className='main_showtxt'}";></button>
       <button  class="icon-contact1nl" type="button" onclick="hideall_except('contact');if (document.getElementById('contact').className=='main_hidetxt'){document.getElementById('contact').className='main_showtxt'}";></button>
       <button  class="icon-nu1nl" type="button" onclick="hideall_except('login');if (document.getElementById('login').className=='dropbtn2'){document.getElementById('login').className='dropbtn2_show'}";></button>
       <button  class="icon-show_mob" type="button" onclick="if (document.getElementById('pos1').className=='pos1'){document.getElementById('pos1').className='pos1_show'}else{document.getElementById('pos1').className='pos1'}";></button>
       {% endif %}
{%endblock%}






{%block div2%}

       {% autoescape off %}

       {{form_wrapper_start}}

       {% csrf_token %}
       {{click_form_login}}
       {{click_check_div2}}
       {{click_form.UN}}
       {{click_form.HAP}}
       {{form_wrapper_end}}



       {% endautoescape %}
{%endblock%}

{%block div3%}

       {% autoescape off %}
       {% csrf_token %}
       {{click_check_div3}}
       {% endautoescape %}

{%endblock%}