{%extends 'm_default.html'%}



{%block login_div%}

       <button class="dropbtn" type="button" onclick="if (document.getElementById('menubtn').style.display=== 'none'){document.getElementById('menubtn').style.display = 'block'}else{document.getElementById('menubtn').style.display = 'none'}";>Menu</button>
       {% autoescape off %}
       {{display_trigger}}
       {% endautoescape %}
       <a href="{% url 'mobile'%}?pass=aboutus"><p style="font-size:3vw; position: relative; margin-top: 0em;margin-bottom: 0em;">About us</p></form></a>
       <a href="{% url 'mobile'%}?pass=aboutyou"><p style="font-size:3vw; position: relative; margin-top: 0em;margin-bottom: 0em;">About you</p></form></a>
       <a href="{% url 'mobile'%}?pass=contact"> <p style="font-size:3vw; position: relative; margin-top: 0em;margin-bottom: 0em;">Contact</p></form></a>
       <a href="{% url 'login'%}"><p style="font-size:3vw; position: relative; margin-top: 0em;margin-bottom: 0em;">Log In </p></form></a>
       {% autoescape off %}
       {{extra_trigger}}
       {% endautoescape %}       
</div>
{%endblock%}






{%block div2%}





 
{%endblock%}

{%block div3%}

       {% autoescape off %}
       {% csrf_token %}
       {{click_check_div3}}


       {{form_wrapper_start}}

       {% csrf_token %}
       {{click_form_login}}
       {{click_check_div2}}
       {{click_form.UN}}
       {{click_form.HAP}}
       {{form_wrapper_end}}
       {% endautoescape %}

{%endblock%}