{%extends 'm_default_seating.html'%}



{%block login_div%}

       <button class="dropbtn" type="button" onclick="if (document.getElementById('menubtn').style.display=== 'none'){document.getElementById('menubtn').style.display = 'block'}else{document.getElementById('menubtn').style.display = 'none'}";>Menu</button>
       {% autoescape off %}
       {{display_trigger}}
       {% endautoescape %}
       <a href="{% url 'mobile'%}?pass=aboutus"><p style="font-size:3vw; position: relative; margin-top: 0em;margin-bottom: 0em;">About us</p></form></a>
       <a href="{% url 'mobile'%}?pass=aboutyou"><p style="font-size:3vw; position: relative; margin-top: 0em;margin-bottom: 0em;">About you</p></form></a>
       <a href="{% url 'mobile'%}?pass=contact"> <p style="font-size:3vw; position: relative; margin-top: 0em;margin-bottom: 0em;">Contact</p></form></a>
       <a href="{% url 'login'%}"><p style="font-size:3vw; position: relative; margin-top: 0em;margin-bottom: 0em;">Log out</p></form></a>
       <a href="{% url 'seating_admin'%}?pass=xp"><p style="font-size:3vw; position: relative; margin-top: 0em;margin-bottom: 0em;">Seating Admin</p></form></a>
       <a href="{% url 'register'%}"><p style="font-size:3vw; position: relative; margin-top: 0em;margin-bottom: 0em;">RSVP</p></form></a>
       {% autoescape off %}
       {{extra_trigger}}
       {% endautoescape %}
       </div>
{%endblock%}




{%block div_seating%}
       {% autoescape off %}
       {{seating_generator}}
       {% endautoescape %}
{%endblock%}

{%block seating_input%}
       {% autoescape off %}
       {{seating_in_data}}
       {% endautoescape %}
{%endblock%}


{%block div2%}

       {% autoescape off %}

       {{form_wrapper_start}}

       {% csrf_token %}
       {{click_form_login}}
       {{click_check_div2}}
       {{click_form.UN}}
       {{click_form.HAP}}
       {{form_wrapper_end}}



       {% endautoescape %}
{%endblock%}